{% include 'uheader.html' %}
<div id="page-wrapper" >
    <div id="page-inner">
<center>
         <form action="" method="POST">
            <input type="hidden" name="id" value="{{data['bid']}}">
            <div class="panel panel-default">
                            <div class="panel-heading">
                                <div align="right"><a href="{{url_for('manageprisonerduty')}}"><input class="btn btn-success" type="button" name="cncl" value="BACK" align="right"></a>
                                </div>
                                <h3>Prisoner Duty</h3>
                            </div>
                    <div class="panel-body">
                    <table class="table table-striped">
                <tr><td>Prison Name:</td><td> <select class="form-control" name="pname" required>
                        <option label="SELECT"></option>
                    {% for row in data["blk"] %}<option value="{{row['pm_id']}}">{{ row['pm_fname']+" "+row['pm_mname']+" "+row['pm_lname']}}</option> {% endfor %}

                    </select></td></tr>
                <tr><td>Duty Schedule</td><td><input class="form-control" type="date" name="datee" placeholder="Duty Date"  required title="Only accept Date"></td></tr>
                <tr><td></td><td><input type="time" class="form-control" name="timee" placeholder="Duty time"  required="" title="Check your time format"></td></tr>
                <tr><td>Duty Type:</td><td><select class="form-control" name="type">
                    <option label="SELECT"></option>
                    <option value="KITCHEN WORK">KITCHEN WORK</option>
                    <option value="GARDENING">GARDENING</option>
                    <option value="FARMING">FARMING</option>
                    <option value="CARPENTER">CARPENTER</option>
                    <option value="CATERING">CATERING</option>
                </select></td></tr>

                <tr><td></td><td><input class="btn btn-primary"  name="sbmt"  type="submit" value="SUBMIT" align="right"></td></tr>

                    </table></div></div>
        </form>
</center></div></div>
{% include 'ufooter.html' %}