{% include 'header.html' %}
<div id="page-wrapper" >
    <div id="page-inner">
              <center>
                    <form action="" method="GET">
                        <input type="hidden" name="id" value="{{data['bid']}}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div align="right"><a href="{{url_for('manageblock')}}"><input class="btn btn-success" type="button" name="cncl" value="BACK" align="right"></a>
                                </div>
                                <h3>Update Block</h3>
                            </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr><td>Block Name :</td><td><input class="form-control" type="text" name="bname" value="{{data['res'][0]['block_name']}}" required pattern="[a-zA-Z\s]{1,50}" title="Only accept characters"></td></tr>
                            <tr><td>Prison Name :</td><td>
                                <select class="form-control" name="pname" required>
                                    <option label="SELECT"></option>
                                    {% for row in data["db"] %}
                                        {% if data['res'][0]['p_name'] == row['p_name'] %}
                                        <option selected  value="{{row['p_id']}}">{{row['p_name']}}</option>
                                        {% else %}
                                        <option  value="{{row['p_id']}}">{{row['p_name']}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></td></tr>
                            <tr><td></td><td><input class="btn btn-primary" type="submit" name="sbmt" value="UPDATE" align="right">&nbsp;<a href="{{url_for('manageblock')}}"><input class="btn btn-danger" type="button" name="cncl" value="CANCEL" align="right"></a></td></tr>
                        </table>
                    </div>
                        </div>
                    </form>
                </center>
    </div>
</div>
{% include 'footer.html' %}