{% include 'uheader.html' %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>{{data['db'][0]['user_fname']+" "+data['db'][0]['user_mname']+" "+data['db'][0]['user_lname']}}</h2>
                        <h5>Welcome to Kerala Prison System. </h5>

                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />

    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
{% include 'ufooter.html' %}
